body {
    background: linear-gradient(rgb(252, 104, 70), rgb(255, 77, 115));
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
}
#sectionHome {
    background-color: rgb(247, 248, 255);
    padding: 1rem;
    margin: auto;
    border-style: solid;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(53, 53, 53, 0.24) 0px 3px 8px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#divWrapper {
    margin-bottom: 1rem;
}
#divData {
    color: rgb(252, 104, 70);
    line-height: 4px;
    margin-top: 2rem;
}
#divAdd {
    display: flex;
}
#divAdd #addTask {
    padding: 8px;
    margin: 8px;
    width: 200px;
    font-size: 16px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-radius: 4px;
}
#addTask::placeholder {
    color: rgb(218, 218, 218);
    font-style: italic;
}
#buttonAddTask {
    width: 60px;
    margin: 8px;
    font-size: 28px;
    font-weight: bolder;
    color: white;
    background-color: rgb(218, 218, 218);
    border-style: none;
    border-radius: 4px;
}
#buttonAddTask:hover {
    background: rgb(177, 185, 247);
}
#buttonAddTask:active {
    background: rgb(126, 91, 255);
}
 #divList {
    color: rgb(104, 104, 104);
    display: flex;
    display: block;
}
#listWrapper {
    padding: 0;
}
#listWrapper li {
    list-style: none;
    background-color: rgb(211, 222, 241);
    display: block;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
#listWrapper li label input[type="checkbox"] {
    border-style: solid;
    border-color: violet;
    background-color: teal;
}
#buttonRemoveTask {
    color: white;
    background: rgb(255, 77, 90);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}
#divButtons {
    margin-bottom: 8px;
}
#divButtons button {
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-weight: bold;
    background: none;
    margin: 8px;
    padding: 12px;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 0px;
    cursor: pointer;
}
#divButtons button:hover {
    /*border-style: solid;
    border-color:  rgb(218, 218, 218);
    border-width: 1px;*/
    background-color:  rgb(177, 185, 247);
    color: white;
}

